@font-face{
  font-family: "HelenaVurusic1";
  src:
    url("./fonts/helenav_web.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1{
  font-family: "HelenaVurusic1", Helvetica, sans-serif;
}

body {
  background-image: url("slike/pozadina_roza1.jpeg");
  background-repeat: repeat;
  font-family: Helvetica, open-sans;
  color: #000;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 1600px;
}
p {
  font-size: 18px;
  text-align: justify;
}

ul {
  font-size: 18px;

}

ol {
  font-size: 18px;

}

h1 {
  font-size: 80px;
  color: #FF00B3;
  text-align: center;
  padding:5px;
  }

h2 {
    font-size: 35px;
    color: #FF00B3;
    }
a {
  color:#000;

    }

a:hover {
  color:#6AAF7C;
  text-decoration:underline;
        }

a:active {
  color:#FFDB74;
  text-decoration:underline;
            }
a:visited{
  color:#FFDB74;
                }

.button {
   display:inline-block;
   padding: 10px 20px;
   color: #FF7DCC;
   background: linear-gradient(to right,#FF7DCC,#000);
   text-decoration:none;
   font-weight: bolder;
   border-radius: 5px;
   margin: 20px;
  }

.img-border{

  border: 5px solid #FFF;

    }

.img-razmak{
  margin:0 200px 0 50px;
  }
.cent {
    text-align: center;
    }
